body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 10 auto;
  box-shadow: 0 2px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box;
}

header {
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #08a05c50;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #08a05c;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
}

header .cart {
  position: relative;
  cursor: pointer;
}

header .cart box-icon {
  width: 45px;
  height: 45px;
}

header .cart span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}

.title {
  font-size: 2rem;
  padding: 10rem 0;
  color: #08a05c;
}

.productos {
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.producto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 2);
  border: 6px solid transparent;
  border-radius: 5px;
}

.producto:hover {
  border: 6px solid #08a05c55;
}

.producto_img img {
  width: 310px;
}

.producto_footer {
  padding: 1rem;
}

.producto_footer h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}

.producto_footer p {
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
}

.producto_footer .price {
  font-size: 2rem;
  color: #1a202c;
  font-weight: bold;
}

.producto .buttom {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
  padding: 0 1rem;
  margin: 1rem;
}

.buttom.btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buttom button {
  background-color: #3033d3;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.buttom div {
  background-color: #08a05c;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a {
  color: white;
  font-weight: 700;
}

.buttom div a:hover {
  color: white;
}

.inicio {
  width: 100%;
  margin: 0 auto;
  padding-top: 9rem;
}

.inicio h1 {
  font-size: 2.5rem;
  color: #08a05c;
}

.inicio img {
  width: 100%;
}

.carritos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}

.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}

.carrito h2 {
  text-align: center;
  font-size: 2rem;
}

.carritos.show {
  visibility: visible;
}

.carrito.show {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  visibility: visible;
}

.carrito__close box-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}

.carrito__close box-icon:hover {
  fill: crimson;
}

.carrito__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carrito__item {
  display: flex; /* Cambiamos de grid a flex */
  align-items: center;
  justify-content: space-between; /* Ajustamos el espacio entre los elementos */
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #08a05c;
  border-radius: 5px;
}

.carrito__item img {
  width: 9rem;
}

.carrito__item h3 {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}

.carrito__item .price {
  color: #1a202c;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -1rem;
}

.carrito__item box-icon {
  fill: #08a05c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: 3rem;
}

.carrito__item .cantidad {
  font-size: 2rem;
  font-weight: bold;
}

.carrito__item .remove__item box-icon {
  width: 60px;
  height: 80px;
  fill: crimson;
  margin-top: 2rem;
}

.carrito__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */ /* Eliminamos esta propiedad */
  bottom: 0; /* Cambiamos la distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ajustamos el ancho al 100% */
  text-align: center;
}
.carrito__footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.carrito__footer h3 {
  margin-bottom: 10px; /* Espaciado entre el texto "Total" y el botón */
}

.carrito__footer button {
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
}



.carrito__footer .btn {
  display: inline-block;
  padding: 3rem 1rem;
  font-size: 1.2rem;
  background-color: #08a05c;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito__footer .btn:hover {
  background-color: #0f5c39;
  color: white;
}

.registro-container {
  background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra para resaltar el formulario */
}

.registro-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-registrar {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-registrar:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}




@media only screen and (max-width: 1000px) {
  .carrito__item {
    width: 92%;
  }
}

@media only screen and (max-width: 600px) {
  .carrito {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}

.carrito__item h3 {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  header ul {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .carrito__item h3 {
    display: 0.5;
  }

  .carrito__item .remove__item box-icon {
    width: 30px;
    height: 70px;
  }
}
